/* Fonts
    Headers: font-family: 'Righteous', cursive;
    Paragraphs: font-family: 'Prompt', sans-serif;
*/


/* Colors */

* {
    /* clears inherited padding/margin */
    padding: 0px;
    margin: 0px;
}


/* begin content general styling */

body {
    font-family: 'Prompt', sans-serif;
    margin: 20px;
    background-color: white;
}

.container {
    max-width: 100%;
    margin: auto;
    background-color: white;
    border: 15px solid black;
    border-radius: 5px;
}

footer,
header {
    padding: 15px;
    background-color: white;
    color: black;
}


/* end of content general styling */


/* begin font general styling */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    color: black;
}

p {
    font-family: 'Prompt', sans-serif;
    padding: 5px;
    color: black;
}


/* end of font general styling */


/* begin specific styling */

header {
    padding: 0px;
    text-align: center;
}

header a {
    text-decoration: none;
}

main {
    width: auto;
}

nav {
    text-align: center;
    padding: 5px;
}

nav a {
    background: gray;
    border: 3px solid gray;
    border-radius: 3px;
    margin-right: 2px;
    padding: 2px; 
    
    background: -webkit-linear-gradient(left top, gray, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, gray, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, gray, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, gray, black); /* Standard syntax (must be last) */
    
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: silver;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

footer {
    border: 5px solid black;
    clear: both;
}

footer h6 {
    float: right;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: inherit;
}

img {
    margin: 5px;
    max-width: 550px;
    width: 100%;
    border: 2px solid black;
}

p {
    margin: 5px;
}

.button {
    background-color: rgb(33, 33, 33);
    color: ghostwhite;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    padding: 3px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: lightyellow;
    color: midnightblue;
}

/* end of specific styling */